# depth-estimation/.dockerignore

# Exclude frontend-related files
src/frontend/
src/**/node_modules/
src/**/__pycache__/

# Exclude development and version control files
.git
.gitignore
.env
*.pyc
notebooks/
tmp/
